@model BlogSitem.DLL.BlogSiteDatabase.Menu

@{
    ViewBag.Title = "AdminMenuGuncelle";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}
@section addTopLibrary{
    <link rel="stylesheet" href="/TemplateAdmin/plugins/summernote/summernote-bs4.min.css">
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">
                </h1>
            </div><!-- /.col -->
            <div class="col-sm-6">

                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/AdminPanel/AdminMenuler/AdminMenulerIndex">Menüler</a></li>
                    <li class="breadcrumb-item active">Menü Güncelle</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<section class="content">
    <div class="container-fluid">


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()


                            <h4>Menu</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.MenulerID)

                            <div class="form-group">
                                @Html.LabelFor(model => model.MenuAdi, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <input type="text" name="menuAdi" class="form-control" id="menuAdi" value="@Model.MenuAdi" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-10">
                                <div class="form-group">
                                    <label>Ust Menu ID</label>
                                    <input type="number" name="ustMenuID" class="form-control" id="ustMenuID" value="@Model.UstMenuID" />
                                </div>
                            </div>

                            <div class="col-md-10">
                                <div class="form-group">
                                    <label for="aktifMi">Aktif Mi</label>
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.AktifMi)
                                        @Html.ValidationMessageFor(model => model.AktifMi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-10">
                                <div class="form-group">
                                    <label>Menü Açıklama</label>
                                    <textarea id="menuAciklama" name="menuAciklama">@Model.Aciklama</textarea>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Güncelle" class="btn btn-warning" />
                                </div>
                            </div>
                            @Html.Raw(ViewBag.mesaj)

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section addBottomLibrary{
    <script src="/TemplateAdmin/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="/TemplateAdmin/plugins/summernote/summernote-bs4.min.js"></script>
    <script>
    $(function () {
            // Summernote
            $('#menuAciklama').summernote()
        })
    </script>
}
